.firstBlock {
	display: flex;
	flex-direction: column;
}

.deleteAndEditBlock {
	display: flex;
	flex-direction: row;
}

.backButtonBlock {
	margin-bottom: 30px;
}

.spanTitle {
	padding: 5px;
	width: 280px;
	display: inline-block;
	margin-right: 15px;
	color: black;
	font-size: 14px;
}

.successBlock {
	display: flex;
	flex-direction: column;
}

.successButtonBlock {
	margin-bottom: 30px;
}

.buttons {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.deleteButton,
.editButton {
	margin-right: 5px;
	border: none;
	outline: none;
	border-radius: 10px;
	height: 31px;
	width: 60px;
	font-size: 13px;
	background-color: rgba(232, 230, 230, 0.847);
	color: #595959;
	transition: color 0.1s linear;
	cursor: pointer;
}

.backButton {
	border: none;
	outline: none;
	border-radius: 10px;
	height: 31px;
	width: 90px;
	font-size: 13px;
	color: #595959;
	transition: color 0.1s linear;
	cursor: pointer;
}

.backButton:hover {
	background-color: rgba(186, 206, 248, 0.847);
}

.deleteButton:hover {
	background-color: #fab5b5;
}

.editButton:hover {
	background-color: #fceb88;
}

.taskBlock {
	margin-top: 200px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.editingBlock {
	margin-right: 70px;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 350px;
}

.newErrorBlock {
	margin-bottom: 10px;
	font-size: 13px;
	color: darkred;
}

.inputAndButtonsEditingBlock {
	margin-top: 60px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.editingInput {
	padding: 0.5rem;
	border: none;
	outline: none;
	width: 250px;
	margin-right: 5px;
	color: black;
	font-size: 14px;
	background-color: rgba(232, 230, 230, 0.847);
	border-radius: 10px;
}

.editingInput:hover {
	cursor: pointer;
}

.editingButtons {
	display: flex;
	gap: 2px;
}

.saveButton,
.cancelButton {
	margin-right: 5px;
	border: none;
	outline: none;
	border-radius: 10px;
	height: 31px;
	width: 60px;
	font-size: 13px;
	background-color: rgba(232, 230, 230, 0.847);
	color: #595959;
	transition: color 0.1s linear;
	cursor: pointer;
}

.saveButton:hover {
	background-color: #bad189;
}

.cancelButton:hover {
	background-color: #fab5b5;
}

.taskNotFound {
	margin-top: 200px;
	align-items: center;
	justify-content: center;
}

.loading {
	margin-top: 200px;
	align-items: center;
	justify-content: center;
}
