.mainBlock {
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	width: 500px;
	min-height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	box-sizing: border-box;
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 50px;
}

h1 {
	font-size: 22px;
	margin-top: 20px;
}

.inputAndButtonBlock {
	display: flex;
	flex-direction: row;
	width: 406px;
}

ul {
	padding-left: 5px;
}

li {
	list-style: none;
	margin-bottom: 10px;
	font-size: 14px;
	width: 470px;
	display: flex;

	margin-left: 5px;
}

.todoSection {
	display: flex;
	flex-direction: row;
	margin-left: 0px;
	margin-top: 10px;
}
